<?xml version="1.0"?>
<robot name="bladder" xmlns:xacro="http://ros.org/wiki/xacro">

   <!-- General Properties -->
   <xacro:property name="bladder_length" value="0.4572" />
   <xacro:property name="bladder_width" value="0.2794" />
   <xacro:property name="bladder_thickness" value="0.1016" />

     <!-- Derived Variables -->
  <material name="bladder_color" >
    <color rgba="0.133 0.55 0.13 1" /> <!--forest green-->
  </material>

   <!-- inflatable air bladder -->
   <link name="bladder_link">
     <visual>
       <origin xyz="0 0 0" rpy="0 0 ${-M_PI/2}" />
       <geometry>
         <box size="${bladder_length} ${bladder_width} ${bladder_thickness}" />
         <!-- <mesh filename="package://superchick/meshes/bladder.STL" /> -->
       </geometry>
       <material name="bladder_color"/>
       <origin xyz="0 0 0" rpy="0 0 0" />
     </visual>
     <collision>
       <geometry>
        <box size="${bladder_length} ${bladder_width} ${bladder_thickness}" />
         <!-- <mesh filename="package://superchick/meshes/bladder.STL" /> -->
       </geometry>
     </collision>
     <inertial>
       <mass value="10"/>
       <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
     </inertial>
   </link>

</robot>