<?xml version="1.0"?>
<robot name = "cameraSystem" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Description: A model of the camera system used in the superchick project.
     Author: Alex Tomkovich, October 2, 2016.
     Motion Capture STL/Mesh created by Adwait Kulkarn.
  -->

  <!-- Constants -->
  <xacro:property name="PI" value="3.14159" />

  <!-- Motion Capture Frame-->
  <link name="motion_capture_frame">
    <visual>
      <origin xyz="0 0 0" rpy="${PI/2} 0 ${PI/2}" />
      <geometry>
        <mesh filename="package://superchick/meshes/motionCapture.stl" scale = ".001 .001 .001" />
      </geometry>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="${PI/2} 0 ${PI/2}" />
      <geometry>
        <mesh filename="package://superchick/meshes/motionCapture.stl" scale = ".001 .001 .001" />
      </geometry>
    </collision>
  </link>

</robot>