<?xml version="1.0"?>
<robot name="superchick" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- vicon Frame-->
  <link name="vicon_frame">
    <visual>
      <origin xyz="0 0 0" rpy="${M_PI/2} 0 ${M_PI/2}" />
      <geometry>
        <mesh filename="package://superchick/meshes/vicon2.dae" scale = ".001 .001 .001" />
      </geometry>
      <material name="vicon_red"/>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="${M_PI/2} 0 ${M_PI/2}" />
      <geometry>
        <mesh filename="package://superchick/meshes/vicon2.dae" scale = ".001 .001 .001" />
      </geometry>
      <material name="vicon_red"/>
    </collision>

    <inertial>
      <mass value="${mass}"/>
      <inertia ixx="${mass/12}" ixy="0.0" ixz="0.0" 
       iyy="${inertia_mom}" iyz="0.0000" 
       izz="${inertia_mom}"/>
    </inertial>
  </link>

</robot>